<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="estilos.css">

</head>

<body>
	<div class="container">
		<div class="cabecera">
			<div class="menu1">
				<h3 id="bizz"><span>Bizz</span>.Consulting</h3>
			</div>
			<div class="menu2">
				<div>
					<p><b>Home</b></p>
				</div>
				<div>
					<p><b>Investments</b></p>
				</div>
				<div>
					<p><b>Finance</b></p>
				</div>
				<div>
					<p><b>Support</b></p>
				</div>
				<div>
					<p><b>Clients</b></p>
				</div>

			</div>

		</div>
		<div class="menu3">
			<div class="welcome">

				<div id="letra_w">
					<b>Welcome</b>
				</div>
				<div id="uno"><b>1</b></div>


			</div>
			<div class="imagen">
				<img src="valls.png" alt="">

			</div>
			<div class="investments">

				<div id="letra_i">
					<b>Investments</b>
				</div>
				<div id="dos"><b>2</b></div>


			</div>
			<div class="corporate">

				<div id="letra_c">
					<b>Corporate finance</b>
				</div>
				<div id="tres"><b>3</b></div>


			</div>
			<div class="markets">

				<div id="letra_m">
					<b>New Markets</b>
				</div>
				<div id="cuatro"><b>4</b></div>


			</div>
			<div class="financing">

				<div id="letra_f">
					<b>Financing technology</b>
				</div>
				<div id="cinco"><b>5</b></div>


			</div>

		</div>

		<div class="solutions">
			<div class="flecha">
				<img src="solutions.png" alt="">
				<p><b>Solutions</b></p>

			</div>
			<hr>
			<div class="parrafo">
					<p>There are many variations of pas- sages of Lorem ipsum available, but the majority have suffered</p>

			</div>

		</div>
		<div class="solutions">
			<div class="flecha">
				<img src="investments.png" alt="">
				<p><b>Investments</b></p>

			</div>
			<hr>
			<div class="parrafo">
				<p>There are many variations of pas- sages of Lorem ipsum available, but the majority have suffered</p>

			</div>

		</div>
		<div class="solutions">
			<div class="flecha">
				<img src="financing.png" alt="">
				<p><b>Financing</b></p>

			</div>
			<hr>
			<div class="parrafo">
				<p>There are many variations of pas- sages of Lorem ipsum available, but the majority have suffered</p>

			</div>

		</div>
		<div class="solutions">
			<div class="flecha">
				<img src="marketing.png" alt="">
				<p><b>Marketing</b></p>

			</div>
			<hr>
			<div class="parrafo">
				<p>There are many variations of pas-sages of Lorem ipsum available, but the majority have suffered</p>

			</div>

		</div>
	</div>
</body>

</html>
