<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="estilos.css ">
</head>

<body>
  <div class="container">
    <div class="primero">
      <div class="t1">
        <div class="t1titulo">
          <h1>IES Triana</h1>
          <p>A CSS Layout for training</p>

        </div>

      </div>
      <div class="t2">
        <div class="t2contenido">
          <h5>Great Design</h5>
          <h4>Guarenteed</h4>

        </div>

      </div>

      <div class="t3">
        <div class="t3contenido">
          <h3>Client Testimonials</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>

        </div>

      </div>

    </div>

    <div class="segundo">
      <div class="menus">
        <div class="menu1">
          <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>PRODUCTS</li>
            <li>SERVICES</li>
            <li>NEWS</li>
            <li>CONTACT</li>
            <li>NOGO</li>
          </ul>

        </div>

        <div class="menu2">
          <ul>
            <li>Lorem Ipsum</li>
            <li>dolor sit ament</li>
            <li>consectetur adipisicing</li>
            <li>Cras Tristique</li>
          </ul>

        </div>

      </div>

      <div class="tercero">
        <div class="parte1">
          <div class="cabeza">
            <b>Our Services</b>
          </div>

          <div class="img_texto1">
            <div class="imagen1">
              <img src="trash_can.jpg" alt="">
            </div>

            <div class="texto1">
              <h3>Service Name One</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

          </div>

          <div class="img_texto2">

            <div class="imagen1">
              <img src="trash_can.jpg" alt="">
            </div>
            <div class="texto1">
              <h3>Service Name One</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="img_texto3">
            <div class="imagen1">
              <img src="trash_can.jpg" alt="">
            </div>
            <div class="texto1">
              <h3>Service Name One</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

        <div class="parte2">
          <div class="contenido">
            <b>Some Content</b>
          </div>

          <div class="img_parte2">

            <div class="parrafo1">
              <p>Service Name One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
            <div class="parrafo2">
              <p>Service Name One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

            <div class="parrafo3">
              <p>Service Name One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>

          </div>


        </div>

      </div>

      <div class="foot">
        <p>IES Triana @ All Rights Reserved<br>
        Template provided for Css Course<br>
        Css template by @pekechis</p>
      </div>

    </div>
    <script type="text/javascript" src=" "></script>
</body>

</html>
