<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href=" ">
</head>

<body>


  <!-- Elementos en bloque:
      hx
      li
      ul
      ol
      Div -> tiene altura cero por defecto. Crece con el texto, no con imagenes.
      El div ocupa de ancho todo lo del padre, sino le pongo anchura.



      se le puede aplicar anchura o altura y sí cambia porque es de bloque


      Elementos en linea:
      img
      a
      span

      no hace caso a la anchura o altura porque es en linea,

    margin:  y no hacen caso al margen vertical (arriba o abajo)

    padding: y los padding los respeta al elemento en si mismo pero no a
    los elementos de alrededor

    Elementos en linea y en bloque:
    Se comporta como bloque pero le puedes poner todo las cosas en linea
    que quieras


    center: centrar contenido en elmento que lo contiene
  -->
  <script type="text/javascript" src=" "></script>
</body>

</html>
